# Dependencies
node_modules

# Build outputs
dist
.next
out
build

# Testing
coverage

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Misc
*.tsbuildinfo
.eslintcache
